nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 500px;
  color: rgba(255,255,255,.9);
  /* background-image: url("../images/background2.jpg"); */
}
#parallax2 {
  background-image: url("../images/background3.jpg")
}
#parallax1 {
  background-image: url("../images/background1.jpg")
}
#parallax3 {
  background-image: url("../images/background2.jpg")
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/* body{
  background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: auto;
} */

body {
  background-color: black;
}